/flask_task_manager/__pycache__
__pycache__/
  
#unecessary virtual env
.venv

# any creds 
.env

# unecessary db push 
instance/

# logs 
*.log

# setup files 
*.egg-info


# USed this so that while merging you wont get this file there 
docker-compose.dev.yaml
*.dev.yaml
*.dev.sh

# bannnig the Dockefile.dev 
Dockefile.env
